* {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.rootLayout {
  /* width: 20%; */
  margin: 10px auto;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 95%;
}

.navItem {
  margin: 5px;
}

.container {
  margin: 0 auto;
}

.city {
  text-align: center;
  font-size: 28px;
}

.date {
  text-align: center;
  font-size: 18px;
}